@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

body {
    background-color: #000066;
}

body {
  font-family: times;
  color: white;
  text-align: center;
}

.header {
background-image: url(http://thumbs.dreamstime.com/x/word-clippings-magazine-background-5267163.jpg);
color: white;
padding: 10px;
border: solid;
border-color: black;
border-width: 10px;
}

h1 {
  background-color: black;
  display: inline-block;
  padding: 8px;
  font-size: 35px;
  font-weight: bold;
  border: solid;
  border-color: black;
  border-radius: 10px;
}
h3 {
  background-color: black;
  display: inline-block;
  padding: 8px;
  font-size: 20px;
  border: solid;
  border-color: black;
  border-radius: 10px;
}

.text {
  background-color: black;
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 10px;
}
.intro {
  font-family: Playball;
  font-size: 30px;
  text-align: center;
}
.word {
  font-size: 45px;
  font-weight: bold;
}

.info {
  font-size: 24px;
}

.definition {
  font-size: 24px;
}

